body {
    margin: 0px;
    background-color: #DCEDC8;
}

header {
    float: left;
    width: 100%;
    height: 100px;
    background: #222222;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#222222 40%, #fff 20%, #222222 40%);
    /* Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#222222 40%, #fff 20%, #222222 40%);
    /* For Opera 11.6 to 12.0 */
    background: -moz-linear-gradient(#222222 40%, #fff 20%, #222222 40%);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#222222 40%, #fff 20%, #222222 40%);
    /* Standard syntax */
    box-shadow: 0 8px 6px -6px gray;
}

#logo {
    float: left;
    height: 70px;
    width: 70px;
    margin-left: 10%;
    margin-top: 15px;
    background-image: url('../images/EHR-System.png');
    background-size: 100% 80%;
    background-repeat: no-repeat;
    background-position: center;
}

#title {
    float: left;
    margin-left: 5%;
    margin-top: 25px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
}

.content {
    float: left;
    margin-top: 50px;
    width: 80%;
    margin-left: 10%;
    background-color: #DCEDC8;
    margin-bottom: 50px;
}

.icon {
    float: left;
    width: 20%;
    background-color: #F1F8E9;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #FF8A80;
    box-shadow: 0 0 2px #FF8A80;
    cursor: pointer;
    margin-top: 5%;
    transition: all 0.5s;
    text-decoration: none;
}

.icon:hover {
    box-shadow: 0 0 5px #ff2600;
    transform: scale(1.4);
}

.view,
.plogin,
.lab_register,
.hospital_register {
    margin-left: 15%;
}

.logo {
    padding-top: 50%;
    width: 50%;
    margin-left: 23%;
    margin-top: 30px;
    background-size: 80% 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.lab_registerl {
    background-image: url('../images/lab_registration.png');
}

.loginl {
    background-image: url('../images/login.png');
}

.viewl {
    background-image: url('../images/details.png');
}

.hRegisterl {
    background-image: url('../images/doc_registration.png');
}

.pRegisterl {
    background-image: url('../images/patient_registration.png');
}

.title {
    margin-top: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #ff2600;
    margin-bottom: 15px;
}